.Queue {
  width: 400px;
  height: calc(100vh - 75px);
  background: rgb(99, 99, 99);
  padding: 10px 10px;
  position: relative;
  z-index: 100;
}
.Queue-text {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
}
.Queue-text p {
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}
.Queue-text a {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  padding: 0 15px;
}
.Queue-title-button button {
  position: absolute;
  right: -40px;
  top: 10px;
  z-index: 100;
}
.Queue-title-button button {
  width: 40px;
  height: 40px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.Queue-title-button img {
  width: 100%;
  height: 100%;
}
.int-btn-container {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.Queue_input {
  width: calc(100% - 100px);
  height: 23px;
  border: none;
  padding: 0 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Queue_add {
  width: 40px;
  height: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: 0;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Queue_add > img {
  width: 100%;
  height: 100%;
}

.Queue-hide {
  width: 50px;
  height: calc(100vh - 75px);
  background: rgb(99, 99, 99);
  padding: 10px 5px;
}
.Queue-hide p {
  display: none;
}
.Queue-hide a {
  display: none;
}
.Queue-title-button-hide button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  cursor: pointer;
}
.Queue-title-button-hide img {
  width: 100%;
  height: 100%;
}
.int-btn-container-hide {
  display: none;
}
.Queue_input-hide {
  display: none;
}
.Queue_add-hide {
  display: none;
}
.Queue_add-hide > img {
  display: none;
}

