.Player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Player-controls {
  height: 30px;
  width: fit-content;
}
.Player-controls button {
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
}
.Player-controls img {
  width: 30px;
  height: 30px;
}