.ChatCard {
  display: flex;
  padding-top: 10px;
}
.ChatCard_user_img {
  width: 20px;
  height: 20px;
  background: blueviolet;
  margin: 0 10px;
}
.ChatCard_user_img img {
  width: 100%;
  border-radius: 10px;
}
.ChatCard_message {
  max-width: 60%;
  width: fit-content;
  background: aquamarine;
  border-radius: 10px;
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; 
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}