.ChatCard {
  padding-top: 10px;
}
.ChatCard_user_img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.ChatCard_user_img img {
  width: 100%;
  border-radius: 10px;
}
.ChatCard_message {
  max-width: 70%;
  width: fit-content;
  border-radius: 10px;
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; 
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}
.other {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  
}

.main {
  width: 100%;
  display: flex;
  justify-content: flex-end
}

.server {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

#otherCard {
  background: gold;
}

#mainCard {
  background: aquamarine;
}

#serverCard {
  background: rgb(255, 255, 255);
}