.ChatCard {
  padding-top: 10px;
}

.ChatCard_user_img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.ChatCard_user_img img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ChatCard_message {
  max-width: 65%;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; 
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.other {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.main {
  width: 100%;
  display: flex;
  justify-content: flex-end
}

.server {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

#serverCard {
  background: rgb(255, 255, 255);
}