.Home {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #444444;
}
.Home_first_fold {
  width: 100%;
  height: 160vh;
  position: relative;
}

.Home_top_bar {
  position: fixed;
  width: 100%;
  height: 75px;
  padding: 0px 50px;
  background: aqua;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}
.Home_top_bar_container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home_logo {
 height: 100%;
 position: relative;
}
.Home_logo > img {
  height: 100%;
  position: absolute;
  padding: 4px 0;
  margin-top: 1px;
}
.Home_logo :nth-child(1){
  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}
.Home_btn button {
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background: #444444;
  font-family: 'Comfortaa', cursive;
  padding: 0 15px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.Home_img {
  position: relative;
  text-align: center;
}

#cloud1 {
  width: 41%;
  position: absolute;
  left: -14%;
  top: 95px;
  z-index: 2;
}
#cloud2 {
  width: 39%;
  position: absolute;
  left: -7%;
  top: 225px;
  z-index: 1;
}
#cloud3 {
  width: 35%;
  position: absolute;
  left: 10%;
  top: 140px;
  z-index: 3;
}
#cloud4 {
  width: 46%;
  position: absolute;
  right: -5%;
  top: 100px;
  z-index: 1;
  
}
#cloud5 {
  width: 35%;
  position: absolute;
  right: -5%;
  top: 240px;
  z-index: 2;
}

.Home_img_rings {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  position: relative;
}

#ring1 {
  -webkit-animation:spin 60s linear infinite;
  -moz-animation:spin 60s linear infinite;
  animation:spin 60s linear infinite;
  width: 100%;
  position: absolute;
  top: 375px;
  right: 0;
  left: 0;
}

#ring2 {
  -webkit-animation:spin 40s linear infinite reverse;
  -moz-animation:spin 40s linear infinite reverse;
  animation:spin 40s linear infinite reverse;
  width: 100%;
  position: absolute;
  top: 375px;
  right: 0;
  left: 0;
}
#ringEarth {
  width: 100%;
  position: absolute;
  top: 375px;
  right: 0;
  left: 0;
}
.Home_img_rings h1 {
  max-width: 500px;
  margin: 0 auto;
  width: 50%;
  font-size: 30px;
  line-height: 30px;
  color: white;
  font-family: 'Comfortaa', cursive;
  z-index: 5;
  position: absolute;
  top: 675px;
  right: 25%;
  left: 25%;
  background: rgb(99, 99, 99, .9);
  padding: 25px 50px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3)
}
.Home_body {
  width: 100%;
  height: 280vh;
}
.Home_how_to {
  max-width: 1000px;
  width: 100%;
  height: 500px;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_how_to_img {
  width: fit-content;
  height: 100%;
  background: #444444;
}
.Home_how_to_img img {
  height: 100%;
}
.Home_how_to_textl {
  width: 100%;
  height: 100%;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home_how_to_textl h1 {
  font-size: 70px;
  line-height: 70px;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
}
.Home_how_to_textl p {
  font-size: 40px;
  line-height: 40px; 
  font-family: 'Roboto', sans-serif;
}

.Home_how_to_textr {
  width: 100%;
  height: 100%;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.Home_how_to_textr h1 {
  font-size: 70px;
  line-height: 70px;
  font-family: 'Comfortaa', cursive;
}
.Home_how_to_textr p {
  font-size: 40px;
  line-height: 40px; 
  font-family: 'Roboto', sans-serif;
}








@media screen and (max-width: 500px){
  .Home_first_fold {
    widows: 100%;
    height: 100vh;
    position: relative;
    background: #444444;
  }
  
  .Home_top_bar {
    height: 50px;
    padding: 0px 25px;
  }
  .Home_btn button {
    height: 40px;
    font-size: 18px;
    line-height: 18px;
  }
  .Home_img {
    position: relative;
    text-align: center;
  }
  
  .Home_img h1 {
    max-width: 500px;
    width: 80%;
    font-size: 25px;
    line-height: 25px;
    right: 10%;
    left: 10%;
    top: 125px;
  }
  
  #cloud1 {
    width: 60%;
    position: absolute;
    left: -14%;
    top: 55px;
    z-index: 2;
  }
  #cloud2 {
    width: 60%;
    position: absolute;
    left: -7%;
    top: 185px;
    z-index: 1;
  }
  #cloud3 {
    width: 60%;
    position: absolute;
    left: 10%;
    top: 100px;
    z-index: 3;
  }
  #cloud4 {
    width: 60%;
    position: absolute;
    right: -5%;
    top: 60px;
    z-index: 1;
    
  }
  #cloud5 {
    width: 60%;
    position: absolute;
    right: -5%;
    top: 200px;
    z-index: 2;
  }
  
  .Home_img_rings {
    max-width: 1100px;
    width: 98%;
    margin: 0 auto;
    height: fit-content;
    position: relative;
  }
  
  #ring1 {
    -webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
    width: 100%;
    position: absolute;
    top: 375px;
    right: 0;
    left: 0;
  }
  
  #ring2 {
    -webkit-animation:spin 40s linear infinite reverse;
    -moz-animation:spin 40s linear infinite reverse;
    animation:spin 40s linear infinite reverse;
    width: 100%;
    position: absolute;
    top: 375px;
    right: 0;
    left: 0;
  }
  
  .Home_body {
    width: 100%;
    height: 150vh;
    background: #444444;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }