.Home {
  max-width: 100%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #444444;
}
.Home_first_fold {
  width: 100%;
  height: 100vh;
  position: relative;
}
.Home_top_bar {
  position: fixed;
  width: 100%;
  height: 75px;
  padding: 0px 50px;
  background: aqua;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}
.Home_top_bar_container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home_logo {
  height: 100%;
  position: relative;
}
.Home_logo > img {
  height: 100%;
  position: absolute;
  padding: 4px 0;
  margin-top: 1px;
}
.Home_logo :nth-child(1){
  -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}
.Home_btn button {
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background: #444444;
  font-family: 'Comfortaa', cursive;
  padding: 0 15px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Home_img {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 75px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-laptop-guy {
  width: 30vh;
}
.Home-laptop-guy img {
  width: 100%;
}
.Home-phone-guy {
  width: 30vh;
}
.Home-phone-guy img {
  width: 100%;
}
.Home_img_rings {
  max-width: 1000px;
  width: calc(100vh - 75px);
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#ring1 {
  -webkit-animation:spin 60s linear infinite;
  -moz-animation:spin 60s linear infinite;
  animation:spin 60s linear infinite;
  height: 100%;
  position: absolute;
  padding: 25px;
  right: 0;
  left: 0;
}
#ring2 {
  -webkit-animation:spin 40s linear infinite reverse;
  -moz-animation:spin 40s linear infinite reverse;
  animation:spin 40s linear infinite reverse;
  height: 100%;
  position: absolute;
  padding: 25px;
  right: 0;
  left: 0;
}
#ringEarth {
  height: 100%;
  position: absolute;
  padding: 25px;
  right: 0;
  left: 0;
}
.Home_img_rings h1 {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  font-size: 5vh;
  line-height: 5vh;
  color: white;
  font-family: 'Comfortaa', cursive;
  z-index: 5;
  position: absolute;
  top: 33%;
  background: rgb(99, 99, 99, .8);
  padding: 5vh 10vh;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3)
}



.Home_body {
  width: 100%;
  height: 250vh;
}
.Home_how_tol {
  max-width: 1000px;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.Home_how_tor {
  max-width: 1000px;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.Home_how_to_img {
  width: fit-content;
  height: 100%;
  background: #444444;
}
.Home_how_to_img img {
  height: 100%;
}
.Home_how_to_textl {
  width: 50%;
  height: 100%;
  padding: 25px;
  color: white;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
}
.Home_how_to_textl h1 {
  font-size: 50px;
  line-height: 50px;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
}
.Home_how_to_textl p {
  font-size: 30px;
  line-height: 30px; 
  font-family: 'Roboto', sans-serif;
}
.Home_how_to_textr {
  width: 50%;
  height: 100%;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.Home_how_to_textr h1 {
  font-size: 50px;
  line-height: 50px;
  font-family: 'Comfortaa', cursive;
}
.Home_how_to_textr p {
  font-size: 30px;
  line-height: 30px; 
  font-family: 'Roboto', sans-serif;
}
.Home_footer {
  max-width: 1000px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  margin-top: 25px;
  border-top: 10px solid black;
  padding: 25px;
  text-align: center;
}
.Home_footer_h1 {
  font-size: 50px;
  line-height: 50px;
  font-family: 'Comfortaa', cursive;
  color: black;
  margin-bottom: 10px;
}
.Home_footer_p {
  font-size: 30px;
  line-height: 30px; 
  font-family: 'Roboto', sans-serif;
  color:  black;
}







@media screen and (max-width: 1050px){
  .Home-laptop-guy {
    width: 0;
    display: none;
  }
  .Home-laptop-guy img {
    width: 0;
  }
  .Home-phone-guy {
    width: 0;
    display: none;
  }
  .Home-phone-guy img {
    width: 0;
  }
}

@media screen and (max-width: 950px){
  .Home_how_to_textl h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .Home_how_to_textl p {
    font-size: 25px;
    line-height: 25px; 
  }
  .Home_how_to_textr h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .Home_how_to_textr p {
    font-size: 25px;
    line-height: 25px; 
  }
}

@media screen and (max-width: 500px){
  .Home_top_bar {
    height: 50px;
    padding: 0px 25px;
  }
  .Home_btn button {
    height: 40px;
    font-size: 18px;
    line-height: 18px;
  }
  .Home_img {
    padding-top: 0px;
  }
  .Home_img_rings {
    width: 100vw;
    height: 100vw;
  }
  .Home_img_rings h1 {
    font-size: 4vh;
    line-height: 4vh;
    width: 90%;
    right: 5%;
    left: 5%;
    padding: 4vh 8vh;
  }
  .Home_body {
    height: 150vh;
    padding: 0 25px;
  }
  .Home_how_tol {
    height: 30vh;
  }
  .Home_how_tor {
    height: 30vh;
  }
  .Home_how_to_textl {
    width: 100%;
  }
  .Home_how_to_textl h1 {
    font-size: 35px;
    line-height: 35px;
  }
  .Home_how_to_textl p {
    font-size: 20px;
    line-height: 20px; 
  }
  .Home_how_to_textr {
    width: 100%;
  }
  .Home_how_to_textr h1 {
    font-size: 35px;
    line-height: 35px;
  }
  .Home_how_to_textr p {
    font-size: 20px;
    line-height: 20px; 
  }
  .Home_footer_h1 {
    font-size: 35px;
    line-height: 35px;
  }
  .Home_footer_p {
    font-size: 20px;
    line-height: 20px; 
  }
}

@media screen and (max-width: 500px){
  .Home_img_rings h1 {
    font-size: 3vh;
    line-height: 3vh;
    padding: 3vh 6vh;
  }
  .Home_body {
    height: 125vh;
  }
  .Home_how_tol {
    height: 25vh;
  }
  .Home_how_tor {
    height: 25vh;
  }
  .Home_how_to_textl h1 {
    font-size: 25px;
    line-height: 25px;
  }
  .Home_how_to_textl p {
    font-size: 18px;
    line-height: 18px; 
  }
  .Home_how_to_textr h1 {
    font-size: 25px;
    line-height: 25px;
  }
  .Home_how_to_textr p {
    font-size: 18px;
    line-height: 18px; 
  }
  .Home_footer_h1 {
    font-size: 25px;
    line-height: 25px;
  }
  .Home_footer_p {
    font-size: 18px;
    line-height: 18px; 
  }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }