.Dashboard {
  width: 100%;
  height: 100vh;
  background: #444444;
  position: relative;
}
.Dash-top {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Dash-top-logo button {
  height: 75px;
  width: 200px;
  background: none;
  border: none;
  margin-top: 2px;
  cursor: pointer;
}
.Dash-top-logo img {
  height: 100%;
}


.Dash-user-info-container{
  width: fit-content;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.Dash-user-info-container button {
  font-family: 'Roboto', sans-serif;
  width: 100px;
  height: 30px;
  background: aqua;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444444;
  min-width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px calc(50% - 50px);
  padding-bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.dropdown:hover .Dash-user-info-banner {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Dash-user-info-banner {
  height: 20px;
  width: 100%;
  border-radius: 10px;
  background: #444444;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 10px;
  font-family: 'Comfortaa', cursive;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Dash-user-img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  z-index: 2;
}
.Dash-user-img img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#queue {
  position: absolute;
  left: 0;
  top: 75px;
}
#player {
  position: absolute;
  top: 100px;
  right: calc(20% + 25px);
  left: calc(135px + 25px);
  
}
#chat {
  width: 20%;
  min-width: 250px;
  position: absolute;
  top: 75px;
  right: 0;
}