.Dashboard {
  position: relative;
}
.Dash-top {
  width: 80%;
  height: 50px;
  background: aquamarine;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
}
.Dash-top button {
  width: 100px;
  height: 30px;
  background: rgb(190, 0, 38);
  border-bottom: 2px solid black;
  border-top: 0;
  border-right: 2px solid black;
  border-left: 0;
  border-radius: 15px;
  color: white;
}
.Dash-user-info-container{
  width: fit-content;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dash-user-info-banner {
  height: 20px;
  width: 100%;
  border-radius: 10px;
  background: #444444;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 10px;
}
.Dash-user-img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
.Dash-user-img img {
  width: 100%;
  border-radius: 25px;
}
#queue {
  width: 25%;
  height: calc(100vh - 50px);
  position: absolute;
  left: 0;
  top: 50px;
}
#player {
  position: absolute;
  top: 75px;
  right: calc(20% + 25px);
}
#chat {
  width: 20%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}