.QueueCard {
  width: 100%;
}

.QueueCard-card {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-radius: 10px;
  font-size: 12pt;
}
.QueueCard-card p {
  margin-top: 5px;
}
.QueueCard-card-img {
  width: 100px;
  height: 57px;
  margin-right: 10px;
}
.QueueCard-card-img img {
  height: 56px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#currentVid {
  background: #444444;
  border: 1px solid aquamarine;
}
#queueVid {
  background: #444444;
}
